@layer components {
  .button-ghost {
    @apply
    flex
    justify-center
    items-center
    bg-transparent
    border-0

    disabled:cursor-not-allowed
    transition-colors
    cursor-pointer
    ;
  }

  .button-ghost .button-ghost__text {
    @apply
    ml-[8px]
    ;
  }

  .button-ghost.underlined .button-ghost__text {
    @apply
    border-b
    ;
  }

  .button-ghost.l-medium {
    @apply
    text-base
    font-medium
    leading-6
    ;
  }

  .button-ghost.m-medium {
    @apply
    text-sm
    font-medium
    leading-5
    ;
  }

  .button-ghost.s-medium {
    @apply
    text-xs
    font-medium
    leading-4
    ;
  }

  .button-ghost.caps {
    @apply uppercase;
  }

  .button-ghost.l-regular {
    @apply
    text-[16px]
    leading-6
    ;
  }

  .button-ghost.m-regular {
    @apply
    text-[14px]
    leading-5
    ;
  }

  .button-ghost.s-regular {
    @apply
    text-[12px]
    leading-4
    ;
  }

  .button-ghost.accent {
    @apply
    text-primary-brand-accent
    hover:text-primary-brand-onPrimary
    disabled:text-primary-london-120
    ;
  }

  .button-ghost.primary {
    @apply
    text-primary-brand-primary
    hover:text-primary-brand-onAccent
    disabled:text-primary-london-120
    ;
  }

  .button-ghost.ghost-10 {
    @apply
    text-primary-seattle-60
    hover:text-primary-brand-onPrimary
    disabled:text-primary-london-110
    ;
  }

  .button-ghost.ghost-30 {
    @apply
    text-primary-seattle-100
    hover:text-primary-brand-onPrimary
    disabled:text-primary-london-110
    ;
  }

  .button-ghost.ghost-70 {
    @apply
    text-primary-seattle-120
    hover:text-primary-brand-onPrimary
    disabled:text-primary-london-110
    ;
  }

  .button-ghost.link {
    @apply
    text-primary-atlantic-140
    hover:text-primary-brand-onPrimary
    disabled:text-primary-london-110
    ;
  }
}
