@layer components {
    /* для сафари (сбрасывает стандартное скругление) */
    .input[type='search'] {
        -webkit-appearance: none;
        appearance: none;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }

    /* убираем всякую хуйню с input type search */
    input[type='search']::-webkit-search-decoration,
    input[type='search']::-webkit-search-cancel-button,
    input[type='search']::-webkit-search-results-button,
    input[type='search']::-webkit-search-results-decoration {
        -webkit-appearance: none;
        appearance: none;
    }

    /* убираем стрелочки у input type number */
    .input[type='number']::-webkit-outer-spin-button,
    .input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }

    .input[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    .input {
        @apply block
        /*h-[44px]*/
        w-full
        h-full
        px-[11px]
        py-[9px]
        border
        focus:border-primary-seattle-140
        hover:border-primary-seattle-140
        rounded-[8px]
        text-primary-brand-primary
        bg-primary-brand-white
        text-[16px]
        focus-visible:outline-none
        focus:placeholder:text-transparent
        transition-colors
        outline-none
  
        disabled:border-primary-seattle-30
        disabled:bg-primary-brand-wildSand
        disabled:cursor-not-allowed;
    }

    .input.l,
    .select.l .input,
    .suggestions-input.l .input {
        @apply h-[44px] px-[11px] py-[9px] text-l-long-16;
    }

    .input.m,
    .select.m .input,
    .suggestions-input.m .input {
        @apply px-[11px] py-[7px] text-m-14;
    }

    .input.s,
    .select.s .input,
    .suggestions-input.s .input {
        @apply px-[11px] py-[5px] text-m-14;
    }

    .suggestions-input.s i {
        @apply !text-[20px];
    }

    .outlined .input,
    .suggestions-input.outlined .input,
    .input.outlined {
        @apply border-primary-seattle-30 bg-primary-brand-white;
    }

    .filled .input,
    .suggestions-input.filled .input,
    .input.filled {
        @apply border-primary-brand-wildSand bg-primary-brand-wildSand;
    }

    .input:disabled {
        @apply border-primary-seattle-30
        bg-primary-brand-wildSand
        cursor-not-allowed;
    }

    .input:hover,
    .input:focus {
        @apply border-primary-seattle-140;
    }
}
